REMOVE_BG_API_KEY=your_remove_bg_api_key_here

# NextAuth.js
NEXTAUTH_URL=https://imagebackgroundremover.space
NEXTAUTH_SECRET=your_nextauth_secret_here

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
